<div>
    <div>
        <h3>RECENT ACTIVITIES</h3>
    </div>

    <div>
        {%for m in msg%}
            <a href="{%url 'profile' m.user.id%}"><h6>@{{m.user}}</h6></a>
            <small>replaid to post "{{m.room}}" {{m.create | timesince}}</small>
            <div>
                <p>{{m.body}}</p>
            </div>
            {%if request.user == m.user %}
            <p><a href="{%url 'delete_msg' m.id%}">Delete</a></p>
            {%endif%}
            <hr>
        
        {%endfor%}

    </div>



</div>