<!DOCTYPE html>
{%extends 'main.html'%}
{%load static%}

  {%block content%}
    <main class="layout layout--3">
      <div class="container">
        <!-- Topics Start -->
        {%include 'base/browse_topics.html'%}
        <!-- Topics End -->

        <!-- Room List Start -->
        {%include 'base/feed_content.html'%}

        <!-- Room List End -->

        <!-- Activities Start -->
        {%include 'base/activity_content.html' %}
        <!-- Activities End -->
      </div>
    </main>
    <!-- <script src="script.js"></script> -->
  {%endblock content%}

