<!DOCTYPE html>
{%extends 'main.html'%}




{%block content%}
<div class="home-container">

   
		<div>
			<h3>BROWSE TOPICS</h3>
			<hr>
			<p><a href="{%url 'home'%}">ALL</a></p>
			{%for t in topic %}
				<p><a href="{%url 'home'%}?q={{t.name}}">{{t.name}}</a></p>
				
			{%endfor%}

		</div>

		<div>
			<div>
				<h5>{{room_count}} Rooms available</h5>
			</div>
			<div>

        		<a href="{% url 'create_room' %}">Create New Room</a>
    		</div>


    	{%for room in rooms%}
			{%if request.user == room.host %}
        		<a href="{% url 'update-room' room.id %}">Edit</a>
        		<a href="{% url 'delete-room' room.id %}">Delete</a>
			{%endif%}

    
        <span>@{{room.host}}</span>
    
        <h1>{{room.id}}--<a href="{% url 'room' room.id%}">{{room.name}}</a></h1>

        <small>{{room.topic}}</small>
        <hr>

    	{%endfor%}

			
		</div>

</div>
{%endblock content%} 